<%= image_tag("rss.jpg", :alt => "rss feed",:width => 100,:height => 100) %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
