
  <div class="row">
    <aside class="span4">
      <section>
        
      </section>
      <section>

      </section>
      <section>

      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>

    </div>
  </div>

  <div class="center hero-unit">
    <h1>Welcome to my Blog</h1>

    <h2>
     Make yourself at home
    </h2>

    <%= link_to "Sign up now!", "#",
                                class: "btn btn-large btn-primary" %>
  </div>


